<div class="container__big-card">
    <div class = "big-card__photo">
        <img src="{{photoCover}}"
        alt="" srcset=""
        height="100px"
        [srcset]=""
        >
    </div>

    <div class="big-card__title">
        <h1><a [routerLink]="['content', id]">{{ cardTitle }}</a></h1>
    </div>

    <div class="big-card__description">
        <h1>
              <p>
                <a [routerLink]="['content', id]">
                  {{cardDescription}}
                </a>
              </p>
        </h1>
    </div>
</div>

